---
import LineaTiempo from "../components/LineaTiempo.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="Juanqx - Experiencia" >
  <div class="w-[54px] h-[2px] bg-white mx-auto mt-2" slot="experiencia" transition:name="indicador"></div>
  <main slot="main">
    <LineaTiempo />
  </main>
</Layout>