---
import Certificados from '../components/Certificados.astro';
import LineaTiempo from '../components/LineaTiempo.astro';
import Proyect from '../components/Proyect.astro';
import Techs from '../components/Techs.astro';
import Layout from '../layouts/Layout.astro';
---

<!-- transition:name="indicador" -->

<Layout title="Juanqx - Desarrollador Móvil e ingeniero informatico.">
	<!-- <div class="w-[54px] h-[2px] bg-white mx-auto mt-2" slot="principal" transition:name="indicador"></div>
	<div class="w-[54px] h-[2px] bg-white mx-auto mt-2" slot="experiencia" transition:name="indicador"></div> -->
	<main slot="main" class="w-full h-max pt-7 max-w-[1070px] md:my-2 md:mr-0  xl:ml-0">
		<!-- seccion de about -->
		<section>
			<p class="font-normal text-base text-[#C2CBD7] lg:font-medium">Mi nombre es Juan.  Soy ingeniero informático y <strong class="font-medium">desarrollador de software </strong> especializado en el desarrollo de aplicaciones móviles.<br><br>Durante el tiempo que estuve en la universidad me dediqué a explorar diferentes áreas de la <strong class="font-medium">informática</strong> y el desarrollo con la finalidad de encontrar mi área de especialización. Pasé por el <strong class="font-medium">desarrollo de aplicaciones web</strong>, la ciberseguridad, redes y el desarrollo de <strong class="font-medium">aplicaciones móviles</strong>. Este último campo es el que más disfruto y en el que invierto mayor cantidad de mi tiempo en aprender cosas nuevas y mejorar día a día.
			<br><br>Estoy realmente comprometido con el avance y la mejora continua, tanto en el aspecto laboral como en lo personal.</p>
		</section>
		
		 <!-- seccion de la educacion (parte del about) -->
		<section>
			<h3 class="font-medium italic text-base mt-[50px] mb-5">Educación</h3>
			<div class="flex flex-row justify-start lg:justify-around h-[295px] lg:h-[274px] items-center">
				<div class="hidden border border-[#ffffff11] bg-cuartiary-color h-[274px] rounded-l-3xl w-[260px] lg:flex lg:border-r-0 lg:justify-center lg:items-center ">
					<img src="https://i.imgur.com/UGAcRzB.png" alt="tecnm">
				</div>
				<article class="w-full h-[295px] border border-[#ffffff11] lg:max-w-[780px] self-start bg-terciary-color rounded-3xl p-7 flex flex-col justify-between lg:border-l-0 lg:rounded-l-none lg:h-[274px]">
					<div class="flex flex-row gap-2 items-center h-max">
						<img src="https://i.imgur.com/PWFD0rZ.png" alt="GraduacionLogo">
						<h4 class="font-medium text-xs italic">UNIVERSIDAD</h4>
					</div>
					<h3 class="font-semibold text-lg text-text-color-primary lg:text-base">Ingeniería Informática con especialidad en sistemas redes computacionales y servicios de aplicación.</h3>
					<h4 class="font-medium text-base text-text-color-secondary">Instituto Tecnológico de Chiná.</h4>
					<h4 class="font-medium text-base text-text-color-secondary">Campeche, México.</h4>
					<h4 class="font-medium text-base text-text-color-secondary">2019 - 2023</h4>
				</article>
			</div>
		</section>

		<!-- Seccion de la experiencia -->
		<section id="experiencia" class="pt-14"> 
			
			<h3 class="font-bold text-2xl mt-2 mb-9">Experiencia <span class="text-lg font-bold italic text-secondary-color">.</span></h3>
			<LineaTiempo />
		</section>

		<!-- Seccion de los proyectos -->
		<h3 class="font-bold text-2xl pt-16 mb-7" id="proyectos">Proyectos seleccionados <span class="text-lg font-bold text-secondary-color">.</span></h3>
    <section class="flex flex-col flex-wrap max-w-[1070px] gap-5">
			<Proyect img="../../public/proyectoEnDesarrollo.svg" titulo="Aplicacion Móvil para salir a hacer ejercicio" tech1="Kotlin" tech2='Firebase' tech3='Jetpack' pagina='proyecto5' desc='aplicación móvil para android desarrollada para llevar un control de las actividades físicas realizadas a lo largo del día así como también llevar el progreso alcanzado hasta el momento.' clasesBtn='w-36 h-11 flex justify-center items-center text-cuartiary-color font-semibold text-base rounded-xl bg-[#21C195]' textBtn='Proximamente'/>
      <Proyect img="https://i.imgur.com/zRQL2jp.png" titulo="EquirentControl - Software para el control de rentas de baños." tech1="JavaScript" tech2='Express' tech3='MySQL' pagina='proyecto1' desc='aplicación web desarrollada con la finalidad de mejorar el flujo de trabajo de un negocio dedicado a la renta de baños portatiles llamado "Equirent.' clasesBtn='w-24 h-9 flex justify-center items-center bg-white text-cuartiary-color font-semibold text-base rounded-xl' textBtn='Ver más'/>
      <Proyect img="https://i.imgur.com/yugCZVy.png" titulo="Software de gestión académica." desc='Software de gestión académica desarrollado con la finalidad de agilizar los procesos académicos que se llevaban a cabo en el tecnológico de chiná.' tech1="Bootstrap" tech2='PHP' tech3='MySQL' pagina='proyecto2' clasesBtn='w-24 h-9 flex justify-center items-center bg-white text-cuartiary-color font-semibold text-base rounded-xl' textBtn='Ver más'/>
      <Proyect img="https://i.imgur.com/zXmP5cq.png" titulo="Software de apartado de bicicletas" desc='Este proyecto lo realicé como proyecto final en una materia de la universidad en la que yo estaba cursando la carrera de ingeniería informática.' tech1='Bootstrap' tech2='Laravel' tech3='MySQL' pagina='proyecto4' clasesBtn='w-24 h-9 flex justify-center items-center bg-white text-cuartiary-color font-semibold text-base rounded-xl' textBtn='Ver más'/>
    </section>

		<!-- Seccion de las tecnologias -->
		<h3 class="font-bold text-2xl pt-16 mb-7" id="tecnologias">Tecnologías <span class="text-lg font-bold text-secondary-color">.</span></h3>
		<section class="pb-12 flex flex-col gap-3 max-w-[1070px]">
      <Techs />
    </section>
	</main>
</Layout>