---
import Certificados from '../components/Certificados.astro';
import LineaTiempo from '../components/LineaTiempo.astro';
import Proyect from '../components/Proyect.astro';
import Techs from '../components/Techs.astro';
import Layout from '../layouts/Layout.astro';
---

<!-- transition:name="indicador" -->

<Layout title="Juanqx - Desarrollador FullStack e ingeniero informatico.">
	<!-- <div class="w-[54px] h-[2px] bg-white mx-auto mt-2" slot="principal" transition:name="indicador"></div>
	<div class="w-[54px] h-[2px] bg-white mx-auto mt-2" slot="experiencia" transition:name="indicador"></div> -->
	<main slot="main" class="w-full h-max pt-7 max-w-[932px] md:my-2 md:mr-0 lg:ml-3 lg:w-[932px] xl:ml-0">
		<!-- seccion de about -->
		<section>
			<p class="font-medium text-base text-text-color-secondary md:text-lg">Mi nombre es Juan. Soy ingeniero informático y desarrollador de software especializado en el desarrollo de aplicaciones web.<br><br>Como entusiasta de la programación, estoy dispuesto a aceptar nuevos retos que me permitan consolidar cada vez más mi carrera dentro de la industria al mismo tiempo que contribuyo al crecimiento de proyectos y equipos. <br><br>Me considero una persona dedicada, comprometida y que siempre busca hacer su trabajo lo mejor posible.</p>
		</section>

		<div class="flex flex-row w-max gap-6 mt-8">
			<a href="https://github.com/Juanqx" target="_blank"><img src="../../public/githubSobremi.png" alt="github"></a>
			<a href="https://www.linkedin.com/in/juanqx" target="_blank"><img src="../../public/linkedinSobremi.png" alt="linkedin"></a>
		</div>
		
		 <!-- seccion de la educacion (parte del about) -->
		<section>
			<h3 class="font-medium italic text-base mt-[50px] mb-5">Educación</h3>
			<div class="flex flex-row justify-start lg:justify-around h-[281px] lg:h-[274px] items-center">
				<div class="hidden bg-cuartiary-color h-[274px] w-[204px] lg:flex lg:justify-center lg:items-center rounded-l-[30px]">
					<img src="../../public/tecnmLogo.png" alt="tecnm">
				</div>
				<article class="w-full h-[281px] lg:max-w-[728px] self-start bg-terciary-color rounded-[30px] p-7 flex flex-col justify-between lg:rounded-l-none lg:h-[274px]">
					<div class="flex flex-row gap-2 items-center h-max">
						<img src="../../public/graduacionLogo.png" alt="">
						<h4 class="font-medium text-xs italic">UNIVERSIDAD</h4>
					</div>
					<h3 class="font-semibold text-base text-text-color-primary">Ingeniería Informática con especialidad en sistemas redes computacionales y servicios de aplicación.</h3>
					<h4 class="font-medium text-sm text-text-color-secondary">Instituto Tecnológico de Chiná.</h4>
					<h4 class="font-medium text-sm text-text-color-secondary">Campeche, México.</h4>
					<h4 class="font-medium text-sm text-text-color-secondary">2019 - 2023</h4>
				</article>
			</div>
		</section>

		<!-- Seccion de la experiencia -->
		<section id="experiencia" class="pt-14"> 
			
			<h3 class="font-bold text-lg mt-2 mb-9 lg:text-xl ">Experiencia <span class="text-lg font-bold italic text-secondary-color">.</span></h3>
			<LineaTiempo />
		</section>

		<!-- Seccion de los proyectos -->
		<h3 class="font-bold text-lg pt-16 mb-6 lg:text-xl" id="proyectos">Proyectos seleccionados <span class="text-lg font-bold text-secondary-color">.</span></h3>
    <section class="flex flex-col gap-5 max-w-[940px] sm:flex-row sm:flex-wrap sm:gap-2">
      <Proyect img="../../public/proyectos/equirent.png" anio="2022" titulo="Software para el control de rentas de baños." techs="Express - Mysql." pagina='proyecto1'/>
      <Proyect img="../../public/proyectos/tecnmApp.png" anio="2023" titulo="Software de gestión académica." techs="Php - Mysql." pagina='proyecto2'/>
      <Proyect img="../../public/proyectos/API-REST.png" anio="2024" titulo="API-REST desarrollada con express y mysql." techs="Express - Mysql." pagina='proyecto3'/>
    </section>

		<!-- Seccion de las tecnologias -->
		<h3 class="font-bold text-lg pt-16 mb-6 lg:text-xl" id="tecnologias">Tecnologías <span class="text-lg font-bold text-secondary-color">.</span></h3>
		<section class="pb-12 flex flex-col gap-3 max-w-[932px]">
      <Techs />
    </section>
	</main>
</Layout>