---
import LayoutProyect from "../layouts/LayoutProyect.astro";
---

<LayoutProyect title="Proyecto - Software de Gestión Académica">
  <h1>Software de gestión académica.</h1>
  <p>Software de gestión académica desarrollado con la finalidad de agilizar los procesos académicos que se llevaban a cabo en el tecnológico de chiná situado en el estado de campeche.
    Tuve la oportunidad de participar en el desarrollo de esta aplicación como desarrollador backend durante el tiempo que estuve cursando la carrera de ingeniería informática en dicho tecnológico.
    Participé en actividades como mejorar y optimizar las consultas que se realizaban a la base de datos las cuales se hacian con Mysql, verifiqué la seguridad de los datos, mejoré caracteristicas ya existentes y creé nuevas caracteristicas que permitieran aumentar la productividad en el area académica del instituto.
    La aplicación permite realizar diversos procesos de 3 subareas dentro del area académica (tutorias, actividades complementarias y actividades extraescolares) los cuales son necesarios para el progreso académico de los estudiantes.</p>
  <section>
    <article>
      <h3>Tecnologías Usadas</h3>
      <h4>Html / Css / Javascript / Bootstrap / Php / Mysql.</h4>
    </article>
    <article>
      <h3>Mi rol</h3>
      <h4>Backend / Bases de datos.</h4>
    </article>
    <article>
      <h3>Año</h3>
      <h4>2023.</h4>
    </article>
  </section>
  <div>
    <img src="" alt="">
    <img src="" alt="">
  </div>
  
  <a href="/">Regresar</a>

  <section>
    <article><img src="../../public/proyectos//equirentGrande1.png" alt=""></article>
  </section>
</LayoutProyect>