---
import LayoutProyect from "../layouts/LayoutProyect.astro";
---

<LayoutProyect title="Proyecto - API-REST">
  <h1>EquirentControl - Software para el control de rentas.</h1>
  <p>EquirentControl es una aplicación web desarrollada con la finalidad de mejorar el flujo de trabajo de un negocio local llamado “EquiRent” dedicado a la renta de baños portatiles en la ciudad de Campeche, México.
    Participé en todo el proceso de desarrollo de este proyecto con un cargo de desarrollador fullstack, desde la toma de requirimientos hasta el desarrollo de diferentes tareas tanto en la parte del frontend como en la del backend.
    La aplicación le permite al negocio contar con un inventario de los baños con los que cuentan además de poder modificar información de los mismos. También permite tener una lista de los clientes y un historial de las rentas realizadas, pudiendo consultar las rentas que se encuentran activas, las que estan apunto de vencer y las que ya finalizaron.
    La necesidad de llevar acabo este proyecto radica en que los procesos mencionados anteriormente se realizaban de manera física en hojas de papel, por lo que la implementación de este sistema permitiría un mejor manejo de la información, así como también un aumento en la productividad de todos los procesos.</p>
  <section>
    <article>
      <h3>Tecnologías Usadas</h3>
      <h4>Javascript / Bootstrap / NodeJs / ExpressJs /EJS / Mysql.</h4>
    </article>
    <article>
      <h3>Mi rol</h3>
      <h4>Diseño / Frontend / Backend / Bases de datos.</h4>
    </article>
    <article>
      <h3>Año</h3>
      <h4>2022.</h4>
    </article>
  </section>
  <div>
    <img src="" alt="">
    <img src="" alt="">
  </div>
  
  <a href="/">Regresar</a>

  <section>
    <article><img src="../../public/proyectos//equirentGrande1.png" alt=""></article>
    <article><img src="../../public/proyectos/equirentGrande2.png" alt=""></article>
  </section>
</LayoutProyect>