---
import LayoutProyect from "../layouts/LayoutProyect.astro";
---

<LayoutProyect title="Proyecto - Software de apartado de bicicletas"> 
  <h1 class="font-extrabold text-xl text-left text-text-color-primary md:text-center mt-2 sm:text-xl md:text-3xl">Software de apartado de bicicletas.</h1>
  <p class="font-medium text-base text-text-color-secondary mb-7 mt-6 xl:text-lg">La finalidad de esta aplicación radica en la necesidad de consultar la disponibilidad de bicicletas en un negocio de rentas de bicicletas para posteriormente ir al local a realizar dicha renta. <br>
    Este proyecto lo realicé como proyecto final en una materia de la universidad en la que yo estaba cursando la carrera de ingeniería informática junto con otros dos compañeros.<br>
    El software es bastante completo, ya que contaba con las funcionalidades típicas de un CRUD, un sistema de LOGIN y manejo de roles, ya que en la aplicación podían acceder dos tipos de usuarios y cada uno tiene funciones diferentes. También contaba con características como filtrado de objetos, como por ejemplo filtrar las bicicletas por tipo, color, tamaño y precio. <br>
    Fue un proyecto que me ayudó a entender la arquitectura MVC así como también conocer más a profundidad cómo se comunican el frontend con el backend y la base de datos.</p>
  <section class="flex flex-col gap-3 my-6 sm:gap-7 sm:flex-row lg:gap-16 flex-wrap">
    <article>
      <h3 class="font-bold text-base">Tecnologías Usadas</h3>
      <h4 class="font-medium text-base text-text-color-secondary">Html / Css / Javascript / Bootstrap / Laravel / Mysql.</h4>
    </article>
    <article>
      <h3 class="font-bold text-base">Mi rol</h3>
      <h4 class="font-medium text-base text-text-color-secondary">Frontend / Backend / Bases de datos.</h4>
    </article>
    <article>
      <h3 class="font-bold text-base">Año</h3>
      <h4 class="font-medium text-base text-text-color-secondary">2022.</h4>
    </article>
  </section>
  
  <a href="javascript:history.back()" class="bg-white text-cuartiary-color font-semibold text-base rounded-xl flex flex-row gap-1 items-center w-max py-2 pl-2 pr-4 my-7"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(31, 36, 43, 1);transform: ;msFilter:;"><path d="M12.707 17.293 8.414 13H18v-2H8.414l4.293-4.293-1.414-1.414L4.586 12l6.707 6.707z"></path></svg>Regresar</a>

  <div class="flex flex-row gap-3 w-max mx-auto my-4">
    <!-- <img src="../../public/red.png" alt="github"> -->
    <a href="https://github.com/Juanqx/proyectobic" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" style="fill: rgba(210, 210, 210, 1);transform: ;msFilter:;"><path fill-rule="evenodd" clip-rule="evenodd" d="M12.026 2c-5.509 0-9.974 4.465-9.974 9.974 0 4.406 2.857 8.145 6.821 9.465.499.09.679-.217.679-.481 0-.237-.008-.865-.011-1.696-2.775.602-3.361-1.338-3.361-1.338-.452-1.152-1.107-1.459-1.107-1.459-.905-.619.069-.605.069-.605 1.002.07 1.527 1.028 1.527 1.028.89 1.524 2.336 1.084 2.902.829.091-.645.351-1.085.635-1.334-2.214-.251-4.542-1.107-4.542-4.93 0-1.087.389-1.979 1.024-2.675-.101-.253-.446-1.268.099-2.64 0 0 .837-.269 2.742 1.021a9.582 9.582 0 0 1 2.496-.336 9.554 9.554 0 0 1 2.496.336c1.906-1.291 2.742-1.021 2.742-1.021.545 1.372.203 2.387.099 2.64.64.696 1.024 1.587 1.024 2.675 0 3.833-2.33 4.675-4.552 4.922.355.308.675.916.675 1.846 0 1.334-.012 2.41-.012 2.737 0 .267.178.577.687.479C19.146 20.115 22 16.379 22 11.974 22 6.465 17.535 2 12.026 2z"></path></svg></a>
    
  </div>

  <section class="max-w-[1093px] flex flex-col gap-3 pb-12">
    <article><img src="https://i.imgur.com/zXmP5cq.png" alt="proyecto2"></article>
    <!-- <article><img src="../../public/proyectos/equirentGrande2.png" alt=""></article> -->
  </section>
</LayoutProyect>