---
import Proyect from "../components/Proyect.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Juanqx - Proyectos" >
  <div class="w-[54px] h-[2px] bg-white mx-auto mt-2" slot="proyectos" transition:name="indicador"></div>
  <main slot="main">
    <h4 class="text-lg font-semibold mt-7 mb-5">Proyectos Seleccionados</h4>
    <section class="flex flex-col gap-5 mb-8 max-w-[940px] sm:flex-row sm:flex-wrap sm:gap-2">
      <Proyect img="../../public/proyectos/equirent.png" anio="2022" titulo="Software para el control de rentas de baños." techs="Express - Mysql."/>
      <Proyect img="../../public/proyectos/tecnmApp.png" anio="2023" titulo="Software de gestión académica." techs="Php - Mysql."/>
      <Proyect img="../../public/proyectos/BicRent.png" anio="2023" titulo="API-REST desarrollada con express y mysql." techs="Express - Mysql."/>
    </section>
  </main>
</Layout>