---
import LayoutProyect from "../layouts/LayoutProyect.astro";
---

<LayoutProyect title="Proyecto - Software de Gestión Académica">
  <h1 class="font-extrabold text-xl text-left text-text-color-primary md:text-center mt-2 sm:text-xl md:text-3xl">Software de Gestión Académica.</h1>
  <p class="font-medium text-base text-text-color-secondary mb-7 mt-6 xl:text-lg">Software de gestión académica desarrollado con la finalidad de agilizar los procesos académicos que se llevaban a cabo en el tecnológico de chiná situado en el estado de campeche. <br>
    Tuve la oportunidad de participar en el desarrollo de esta aplicación como desarrollador backend durante el tiempo que estuve cursando la carrera de ingeniería informática en dicho tecnológico.
    Participé en actividades como mejorar y optimizar las consultas que se realizaban a la base de datos las cuales se hacian con Mysql, verifiqué la seguridad de los datos, mejoré caracteristicas ya existentes y creé nuevas caracteristicas que permitieran aumentar la productividad en el area académica del instituto. <br>
    La aplicación permite realizar diversos procesos de 3 subareas dentro del area académica (tutorias, actividades complementarias y actividades extraescolares) los cuales son necesarios para el progreso académico de los estudiantes.</p>
  <section class="flex flex-col gap-3 my-6 sm:gap-7 sm:flex-row lg:gap-16 flex-wrap">
    <article>
      <h3 class="font-bold text-base">Tecnologías Usadas</h3>
      <h4 class="font-medium text-base text-text-color-secondary">Html / Css / Javascript / Bootstrap / Php / Mysql.</h4>
    </article>
    <article>
      <h3 class="font-bold text-base">Mi rol</h3>
      <h4 class="font-medium text-base text-text-color-secondary">Backend / Bases de datos.</h4>
    </article>
    <article>
      <h3 class="font-bold text-base">Año</h3>
      <h4 class="font-medium text-base text-text-color-secondary">2023.</h4>
    </article>
  </section>
  
  <a href="javascript:history.back()" class="bg-white text-cuartiary-color font-semibold text-base rounded-xl flex flex-row gap-1 items-center w-max py-2 pl-2 pr-4 my-7"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(31, 36, 43, 1);transform: ;msFilter:;"><path d="M12.707 17.293 8.414 13H18v-2H8.414l4.293-4.293-1.414-1.414L4.586 12l6.707 6.707z"></path></svg>Regresar</a>

  <!-- <div class="flex flex-row gap-3 w-max mx-auto my-4">
    <img src="../../public/red.png" alt="github">
    <a href="https://github.com/Juanqx/EquirentControl" target="_blank"><img src="../../public/githubProyect.png" alt="red"></a>
    
  </div> -->

  <section class="max-w-[1093px] flex flex-col gap-3 pb-12">
    <article><img src="https://i.imgur.com/yugCZVy.png" alt="proyecto2"></article>
    <!-- <article><img src="../../public/proyectos/equirentGrande2.png" alt=""></article> -->
  </section>
</LayoutProyect>