---
import LayoutProyect from "../layouts/LayoutProyect.astro";
---

<LayoutProyect title="Proyecto - EquirentControl">
  <h1 class="font-extrabold text-lg text-text-color-primary text-center mt-2 sm:text-xl md:text-3xl">EquirentControl - Software para el control de rentas.</h1>
  <p class="font-medium text-base text-text-color-secondary my-7 xl:text-lg">EquirentControl es una aplicación web desarrollada con la finalidad de mejorar el flujo de trabajo de un negocio local llamado “EquiRent” dedicado a la renta de baños portatiles en la ciudad de Campeche, México. <br>
    Participé en todo el proceso de desarrollo de este proyecto con un cargo de desarrollador fullstack, desde la toma de requirimientos hasta el desarrollo de diferentes tareas tanto en la parte del frontend como en la del backend. <br>
    La aplicación le permite al negocio contar con un inventario de los baños con los que cuentan además de poder modificar información de los mismos. También permite tener una lista de los clientes y un historial de las rentas realizadas, pudiendo consultar las rentas que se encuentran activas, las que estan apunto de vencer y las que ya finalizaron. <br>
    La necesidad de llevar acabo este proyecto radica en que los procesos mencionados anteriormente se realizaban de manera física en hojas de papel, por lo que la implementación de este sistema permitiría un mejor manejo de la información, así como también un aumento en la productividad de todos los procesos.</p>
  <section class="flex flex-col gap-3 my-6 sm:gap-7 sm:flex-row lg:gap-16 flex-wrap">
    <article>
      <h3 class="font-bold text-sm">Tecnologías Usadas</h3>
      <h4 class="font-medium text-sm text-text-color-secondary">Javascript / Bootstrap / NodeJs / ExpressJs /EJS / Mysql.</h4>
    </article>
    <article>
      <h3 class="font-bold text-sm">Mi rol</h3>
      <h4 class="font-medium text-sm text-text-color-secondary">Diseño / Frontend / Backend / Bases de datos.</h4>
    </article>
    <article>
      <h3 class="font-bold text-sm">Año</h3>
      <h4 class="font-medium text-sm text-text-color-secondary">2022.</h4>
    </article>
  </section>
  
  <a href="javascript:history.back()" class="bg-secondary-color flex flex-row gap-1 items-center w-max py-2 pl-2 pr-4 rounded-2xl font-bold text-sm text-primary-color my-7 mx-auto sm:mx-0"><img src="../../public/flechaAtras.png" alt="">Regresar</a>

  <div class="flex flex-row gap-3 w-max mx-auto my-4">
    <!-- <img src="../../public/red.png" alt="github"> -->
    <a href="https://github.com/Juanqx/EquirentControl" target="_blank"><img src="https://github.com/Juanqx/juanqx-portafolio/blob/main/public/githubProyect.png?raw=true" alt="github"></a>
    
  </div>

  <section class="max-w-[1093px] flex flex-col gap-3 pb-3">
    <article><img src="https://github.com/Juanqx/juanqx-portafolio/blob/main/public/proyectos/equirentGrande1.png?raw=true" alt="proyecto1"></article>
    <article><img src="https://github.com/Juanqx/juanqx-portafolio/blob/main/public/proyectos/equirentGrande2.png?raw=true" alt="proyecto1"></article>
  </section>
</LayoutProyect>