---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Juanqx - Tecnologías" >
  <div class="w-[54px] h-[2px] bg-white mx-auto mt-2" slot="tecnologias" transition:name="indicador"></div>
  <main slot="main">
    <p>esta pagina es la de tecnologias</p>
  </main>
</Layout>