---
import Techs from "../components/Techs.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Juanqx - Tecnologías" >
  <div class="w-[54px] h-[2px] bg-white mx-auto mt-2" slot="tecnologias" transition:name="indicador"></div>
  <main slot="main">
    <section class="pt-10 pb-12 flex flex-col gap-3 max-w-[932px]">
      <Techs />
    </section>
  </main>
</Layout>