---
interface Props {
	img: string;
  anio: string,
  titulo: string,
  techs: string
}
const { img, anio, titulo, techs } = Astro.props;
---


<article class="flex flex-row"> 
  <div class="flex flex-row items-end mr-4">
    <img src={img} alt="equirent" class="w-[150px] min-w-[150px] h-[83px] rounded-xl">
    <div class="font-semibold text-xs bg-primary-color ml-[-45px] mb-[5px] py-[2px] px-[4px] rounded-[4px]">{anio}</div>
  </div>
  <div class="flex flex-col gap-3">
    <p class="text-sm font-semibold">{titulo}</p>
    <p class="text-xs font-semibold text-text-color-secondary">{techs}</p>
  </div>
</article>