---
import Tecnologia from "./Tecnologia.astro";
---

<article class="bg-terciary-color border border-[#ffffff11] rounded-[20px] flex flex-col items-center pb-9">
  <h4 class="text-base font-semibold italic mb-5 pt-9">MÓVIL</h4>
  <div class="w-full flex flex-row flex-wrap gap-4 justify-center px-2">
    <Tecnologia titulo="Kotlin"> 
      <div class="">
        <svg viewBox="0 0 256 256" width="" height="30" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid"><defs><linearGradient x1="99.991%" y1="-.011%" x2=".01%" y2="100.01%" id="a"><stop stop-color="#FFFFFF" offset=".344%"/><stop stop-color="#8B8C91" offset="46.89%"/><stop stop-color="#8B8C91" offset="100%"/></linearGradient></defs><path fill="url(#a)" d="M256 256H0V0h256L128 127.949z"/></svg>
      </div>
    </Tecnologia>
    <Tecnologia titulo="Compose"> 
      <svg xmlns="http://www.w3.org/2000/svg" width="39px" height="39px" viewBox="0 0 256 286" version="1.1" preserveAspectRatio="xMidYMid" class="mb-1">
        <title>Compose Multiplatform</title>
        <g >
            <path d="M126.936447,0 C132.248668,0.0898888717 137.461706,1.50609469 142.101338,4.12642434 L238.728264,58.6996903 C242.621093,60.900739 246.093763,63.8389207 248.878533,67.2810746 L248.973797,67.2235591 L250.413292,69.3359044 L250.582936,69.5780905 L252.380855,72.2283741 L252.253001,72.3053396 C254.639378,76.6515952 255.951737,81.3961523 256,86.2217925 L256,197.16289 C256.050677,202.765033 254.627851,208.283365 251.872071,213.166244 C249.116035,218.046161 245.12457,222.114728 240.298084,224.963588 L144.71948,281.356674 C140.735992,283.710907 136.312533,285.148087 131.750523,285.613117 L131.749909,285.754833 L125.636634,285.80414 L125.640463,285.652951 C121.135833,285.248224 116.755019,283.890235 112.794389,281.655028 L11.2694511,224.308536 C4.37243872,220.425938 0.0790250697,213.147718 0,205.195715 L0,87.7070848 C0.0569097513,83.5626721 0.77879485,79.5635018 2.14601289,75.8855822 L2.03202819,75.8205459 L4.64840431,70.3544915 L4.79640495,70.4361276 C7.23099819,66.4903554 10.5322304,63.2174645 14.5962669,60.8160592 L110.17659,4.43345785 C115.000734,1.58291522 120.492161,0.0539760447 126.097959,0 L126.936447,0 Z M7.49945182,78.8820889 L7.28521886,79.5616891 C6.4340505,82.3767819 6.01390702,85.4179918 6.045975,88.5877889 L6.04582517,205.165618 C6.10319945,210.928054 9.22442514,216.219175 14.2391359,219.042155 L115.766906,276.390244 C118.784145,278.093042 122.102725,279.1679 125.522661,279.563073 L125.734484,279.583331 L125.758025,274.651283 L125.778831,253.964695 L125.745811,230.483385 L125.609399,230.470071 C123.51173,230.193405 121.466676,229.593388 119.547186,228.688967 L118.833405,228.335577 L118.201774,227.993311 L56.6950715,193.252169 C54.4589745,191.991063 52.5954971,190.164257 51.2917964,187.954781 C49.9883957,185.748011 49.2894936,183.234446 49.2629184,180.636668 L49.2630647,110.021849 C49.2409613,107.775105 49.5233834,105.5853 50.1039354,103.520321 L50.3002585,102.859394 L7.49945182,78.8820889 Z M247.057049,75.4090975 L204.857365,100.612002 L204.950299,100.804711 C205.99211,103.052811 206.601286,105.446047 206.716557,107.890144 L206.735703,108.557906 L206.733817,175.758492 C206.768615,179.363147 205.853347,182.913482 204.080341,186.050496 C202.308405,189.189237 199.740539,191.806435 196.636213,193.637926 L138.734874,227.801198 C136.731674,228.985395 134.553731,229.807265 132.292637,230.251351 L131.796163,230.339606 L131.805294,235.118109 L131.826616,262.796333 L131.785861,279.052114 L131.780459,279.522261 L132.68362,279.393758 C135.570625,278.923408 138.364095,277.967822 140.94634,276.54903 L141.645263,276.150619 L237.2253,219.756687 C241.137601,217.44743 244.37338,214.149147 246.607218,210.193848 C248.841339,206.23528 249.994762,201.761808 249.950901,197.191948 L249.95279,86.2511882 C249.919405,82.8237127 249.055086,79.3993766 247.457382,76.1798309 L247.057049,75.4090975 Z M124.000068,86.5846779 C123.085756,86.8551328 122.206342,87.2372594 121.384508,87.7205884 L82.5716168,110.616774 C81.4426858,111.28157 80.4515996,112.15575 79.6507042,113.190458 C79.3366275,113.595268 79.0557035,114.021016 78.8044422,114.464213 C78.6788115,114.687556 78.5601603,114.912645 78.4484886,115.144712 L78.2391042,115.664684 C77.7557752,116.814553 77.4347191,118.044686 77.3090884,119.33589 C77.2637218,119.829689 77.2410385,120.330466 77.2455326,120.836479 L77.2455326,168.192254 C77.2602321,169.554998 77.6318894,170.891568 78.3246029,172.067611 C79.0173163,173.241908 80.0084025,174.213801 81.1966591,174.882086 L122.426195,198.170868 C124.214687,199.181147 126.238737,199.704609 128.292449,199.68716 L128.732156,199.669711 L128.734523,212.419788 L128.762691,224.583979 L128.733901,199.667966 C130.648023,199.585957 132.51329,199.034578 134.165682,198.060941 L172.978573,175.161265 C174.753106,174.114343 176.220542,172.618989 177.234311,170.825263 C177.396584,170.537359 177.541408,170.240731 177.679253,169.938869 C178.398139,168.370231 178.764562,166.665493 178.750603,164.939816 L178.752348,119.878545 C178.743624,119.058456 178.633697,118.252326 178.434782,117.470624 C178.303916,116.948908 178.131174,116.437661 177.923535,115.940373 C177.820587,115.692601 177.707171,115.44832 177.586775,115.207528 C177.443696,114.923114 177.286657,114.645679 177.122639,114.37348 L176.945971,114.088848 L176.763196,113.808142 C176.480527,113.394608 176.175175,112.996777 175.847139,112.619885 C174.856053,111.47874 173.676521,110.515572 172.360889,109.768767 L133.122249,87.6089167 C131.551866,86.7207778 129.798272,86.207786 127.995821,86.1083284 C126.647036,86.0350439 125.294762,86.1955719 124.000068,86.5846779 Z M126.15721,6.04568457 C121.612331,6.08944562 117.161695,7.32860479 113.250368,9.63977158 L17.6700459,66.0223719 C14.7613001,67.741126 12.3531724,70.018758 10.4920261,72.7608334 L10.0757673,73.3955174 L52.9751444,97.4153996 L53.4214856,96.8090303 C54.7178619,95.1165744 56.2960361,93.6596009 58.129235,92.4880103 L58.6925283,92.1417696 L116.595701,57.9819347 C119.698606,56.1480278 123.230768,55.1639559 126.835964,55.1291725 C130.440618,55.0943746 133.990954,56.0096423 137.128583,57.7829959 L195.667973,90.8487041 C197.684571,91.9885205 199.525027,93.4381714 201.110077,95.1360846 L201.503725,95.5710719 L243.619655,70.4170241 L243.157314,69.8902789 C241.219143,67.7453654 238.942317,65.8694128 236.441336,64.3645133 L235.753778,63.9633625 L139.128129,9.39081817 C135.168501,7.15453514 130.69548,6.00042673 126.15721,6.04568457 Z" fill="#8B8C91"/>
        </g>
    </svg>
    </Tecnologia>
    <Tecnologia titulo="XML"> 
      <div class="w-9 mb-1">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="35px" width="35px" version="1.1" id="Capa_1" viewBox="0 0 56 56" xml:space="preserve">
          <g>
            <path style="fill:#E9E9E0;" d="M36.985,0H7.963C7.155,0,6.5,0.655,6.5,1.926V55c0,0.345,0.655,1,1.463,1h40.074   c0.808,0,1.463-0.655,1.463-1V12.978c0-0.696-0.093-0.92-0.257-1.085L37.607,0.257C37.442,0.093,37.218,0,36.985,0z"/>
            <polygon style="fill:#D9D7CA;" points="37.5,0.151 37.5,12 49.349,12  "/>
            <path style="fill:#8B8C91;" d="M48.037,56H7.963C7.155,56,6.5,55.345,6.5,54.537V39h43v15.537C49.5,55.345,48.845,56,48.037,56z"/>
            <g>
              <path style="fill:#FFFFFF;" d="M19.379,48.105L21.936,53h-1.9l-1.6-3.801h-0.137L16.576,53h-1.9l2.557-4.895l-2.721-5.182h1.873    l1.777,4.102h0.137l1.928-4.102H22.1L19.379,48.105z"/>
              <path style="fill:#FFFFFF;" d="M31.998,42.924h1.668V53h-1.668v-6.932l-2.256,5.605h-1.449l-2.27-5.605V53h-1.668V42.924h1.668    l2.994,6.891L31.998,42.924z"/>
              <path style="fill:#FFFFFF;" d="M37.863,42.924v8.832h4.635V53h-6.303V42.924H37.863z"/>
            </g>
            <path style="fill:#8B8C91;" d="M15.5,24c-0.256,0-0.512-0.098-0.707-0.293c-0.391-0.391-0.391-1.023,0-1.414l6-6   c0.391-0.391,1.023-0.391,1.414,0s0.391,1.023,0,1.414l-6,6C16.012,23.902,15.756,24,15.5,24z"/>
            <path style="fill:#8B8C91;" d="M21.5,30c-0.256,0-0.512-0.098-0.707-0.293l-6-6c-0.391-0.391-0.391-1.023,0-1.414   s1.023-0.391,1.414,0l6,6c0.391,0.391,0.391,1.023,0,1.414C22.012,29.902,21.756,30,21.5,30z"/>
            <path style="fill:#8B8C91;" d="M33.5,30c-0.256,0-0.512-0.098-0.707-0.293c-0.391-0.391-0.391-1.023,0-1.414l6-6   c0.391-0.391,1.023-0.391,1.414,0s0.391,1.023,0,1.414l-6,6C34.012,29.902,33.756,30,33.5,30z"/>
            <path style="fill:#8B8C91;" d="M39.5,24c-0.256,0-0.512-0.098-0.707-0.293l-6-6c-0.391-0.391-0.391-1.023,0-1.414   s1.023-0.391,1.414,0l6,6c0.391,0.391,0.391,1.023,0,1.414C40.012,23.902,39.756,24,39.5,24z"/>
            <path style="fill:#8B8C91;" d="M24.5,32c-0.11,0-0.223-0.019-0.333-0.058c-0.521-0.184-0.794-0.755-0.61-1.276l6-17   c0.185-0.521,0.753-0.795,1.276-0.61c0.521,0.184,0.794,0.755,0.61,1.276l-6,17C25.298,31.744,24.912,32,24.5,32z"/>
          </g>
          </svg>        
      </div>
    </Tecnologia>
    <Tecnologia titulo="Firebase"> 
      <div class="w-10">
        <svg viewBox="0 0 256 351" width="" height="36" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid"><defs><filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="b"><feGaussianBlur stdDeviation="17.5" in="SourceAlpha" result="shadowBlurInner1"/><feOffset in="shadowBlurInner1" result="shadowOffsetInner1"/><feComposite in="shadowOffsetInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"/><feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.06 0" in="shadowInnerInner1"/></filter><filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="d"><feGaussianBlur stdDeviation="3.5" in="SourceAlpha" result="shadowBlurInner1"/><feOffset dx="1" dy="-9" in="shadowBlurInner1" result="shadowOffsetInner1"/><feComposite in="shadowOffsetInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"/><feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.09 0" in="shadowInnerInner1"/></filter><path d="m1.253 280.732 1.605-3.131 99.353-188.518-44.15-83.475C54.392-1.283 45.074.474 43.87 8.188L1.253 280.732Z" id="a"/><path d="m134.417 148.974 32.039-32.812-32.039-61.007c-3.042-5.791-10.433-6.398-13.443-.59l-17.705 34.109-.53 1.744 31.678 58.556Z" id="c"/></defs><path d="m0 282.998 2.123-2.972L102.527 89.512l.212-2.017L58.48 4.358C54.77-2.606 44.33-.845 43.114 6.951L0 282.998Z" fill="#FFFFFF"/><use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#a"/><use filter="url(#b)" xlink:href="#a"/><path d="m135.005 150.38 32.955-33.75-32.965-62.93c-3.129-5.957-11.866-5.975-14.962 0L102.42 87.287v2.86l32.584 60.233Z" fill="#FFFFFF"/><use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#c"/><use filter="url(#d)" xlink:href="#c"/><path fill="#8B8C91" d="m0 282.998.962-.968 3.496-1.42 128.477-128 1.628-4.431-32.05-61.074z"/><path d="m139.121 347.551 116.275-64.847-33.204-204.495c-1.039-6.398-8.888-8.927-13.468-4.34L0 282.998l115.608 64.548a24.126 24.126 0 0 0 23.513.005" fill="#FFFFFF"/><path d="M254.354 282.16 221.402 79.218c-1.03-6.35-7.558-8.977-12.103-4.424L1.29 282.6l114.339 63.908a23.943 23.943 0 0 0 23.334.006l115.392-64.355Z" fill="#8B8C91"/><path d="M139.12 345.64a24.126 24.126 0 0 1-23.512-.005L.931 282.015l-.93.983 115.607 64.548a24.126 24.126 0 0 0 23.513.005l116.275-64.847-.285-1.752-115.99 64.689Z" fill="#FFFFFF"/></svg>
      </div>

    </Tecnologia>
    <Tecnologia titulo="Java"> 
      <div class="w-8 h-7 mb-[18px] mt-[-6px]">
        <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" viewBox="0 0 256 346">
          <path d="M83 267s-14 8 9 11c27 3 41 2 71-3 0 0 8 5 19 9-67 29-153-2-99-17M74 230s-15 11 8 13c29 3 52 3 92-4 0 0 6 5 15 8-82 24-173 2-115-17" fill="#8B8C91"/>
          <path d="M144 166c17 19-4 36-4 36s42-22 22-49c-18-26-32-38 44-82 0 0-119 29-62 95" fill="#FFFFFF"/>
          <path d="M233 295s10 8-10 15c-39 12-163 15-197 0-12-5 11-13 18-14l12-2c-14-9-89 19-38 28 138 22 251-10 215-27M89 190s-63 15-22 21c17 2 51 2 83-1 26-2 52-7 52-7l-16 9c-64 16-187 8-151-9 30-14 54-13 54-13M202 253c64-33 34-66 13-61l-7 2s2-3 6-5c41-14 73 43-14 66l2-2" fill="#FFFFFF"/>
          <path d="M162 0s36 36-34 91c-56 45-12 70 0 99-32-30-56-56-40-80 23-35 89-53 74-110" fill="#8B8C91"/>
          <path d="M95 345c62 4 158-3 160-32 0 0-4 11-51 20-53 10-119 9-158 2 0 0 8 7 49 10" fill="#8B8C91"/>
        </svg>        
      </div>
    </Tecnologia>
    <Tecnologia titulo="MySQL"> 
      <div class="svg1">
        <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" viewBox="0 0 256 252">
          <path d="M236 194c-14 0-25 1-34 5-3 1-7 1-7 4l3 6c2 3 5 8 9 11l11 8 21 10 11 9 6 4-3-6-5-5c-5-7-11-13-18-18-6-3-18-9-20-15h-1l12-3 18-3 8-2v-2l-9-10c-8-8-18-15-28-22l-18-8c-2-1-6-2-7-4l-7-13-15-30-8-20c-18-30-38-48-68-65-6-4-14-5-22-7l-13-1-8-6C34 5 8-9 1 9c-5 11 7 22 11 28l9 13 3 9c3 8 5 17 9 24l6 10c2 2 4 3 5 6-3 4-3 9-4 13-7 20-4 44 5 59 2 4 9 14 18 10 8-3 6-13 8-22l1-4 8 14c5 9 14 18 22 24 4 3 8 8 13 10l-4-4-9-10c-8-10-14-21-20-32l-7-17-3-6c-3 4-7 7-9 12-3 7-3 17-4 26h-1c-6-1-8-7-10-12-5-12-6-32-1-46 1-4 6-15 4-19-1-3-4-5-6-7l-7-12-10-30-9-13c-3-5-7-8-10-14-1-2-2-5 0-7l2-2c2-2 9 0 11 1 6 3 12 5 17 9l8 6h4c6 1 12 0 17 2 9 3 18 7 25 12 23 14 42 35 54 59 3 4 3 8 5 12l12 26c4 8 7 16 12 23 3 4 14 6 18 8l12 4 18 12c2 2 11 7 12 10Z" fill="#FFFFFF"/>
          <path d="m58 43-7 1 6 7 4 9v-1c3-1 4-4 4-8l-2-4-5-4Z" fill="#FFFFFF"/>
        </svg>    
      </div>
    </Tecnologia>
    <Tecnologia titulo="Flutter"> 
      <div class="w-7">
        <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" viewBox="0 0 256 317">
          <defs>
            <linearGradient x1="4%" y1="27%" x2="75.9%" y2="52.9%" id="a">
              <stop offset="0%"/>
              <stop stop-opacity="0" offset="100%"/>
            </linearGradient>
          </defs>
          <path fill="#FFFFFF" d="M158 0 0 158l49 48L255 0zM157 145l-85 85 49 50 49-49 85-86z"/>
          <path fill="#8B8C91" d="m121 280 37 37h97l-85-86z"/>
          <path fill="#8B8C91" d="m72 230 48-48 50 49-49 49z"/>
          <path fill-opacity=".8" fill="#8B8C91" d="m121 280 41-14 4-31z"/>
        </svg>
               
      </div>
    </Tecnologia>
  </div>
</article>

<div class="flex flex-col gap-3 md:flex-row">
  <article class="bg-terciary-color border border-[#ffffff11] rounded-[20px] flex flex-col items-center pb-9">
    <h4 class="text-base font-semibold italic mb-5 pt-9">WEB</h4>
    <div class="w-full flex flex-row flex-wrap gap-4 justify-center px-2 lg:px-7">
      <Tecnologia titulo="HTML"> 
        <div class="svg3">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 452 520">
            <path fill="#8B8C91" d="M41 460L0 0h451l-41 460-185 52" />
            <path fill="#8B8C91" d="M226 472l149-41 35-394H226" />
            <path fill="#ecedee" d="M226 208h-75l-5-58h80V94H84l15 171h127zm0 147l-64-17-4-45h-56l7 89 117 32z"/>
            <path fill="#fff" d="M226 265h69l-7 73-62 17v59l115-32 16-174H226zm0-171v56h136l5-56z"/>
          </svg>
        </div>
      </Tecnologia>

      <Tecnologia titulo="JavaScript"> 
        <div class="svg3">
          <svg xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 1052 1052"><path fill="#8B8C91" d="M0 0h1052v1052H0z"/><path d="M965.9 801.1c-7.7-48-39-88.3-131.7-125.9-32.2-14.8-68.1-25.399-78.8-49.8-3.8-14.2-4.3-22.2-1.9-30.8 6.9-27.9 40.2-36.6 66.6-28.6 17 5.7 33.1 18.801 42.8 39.7 45.4-29.399 45.3-29.2 77-49.399-11.6-18-17.8-26.301-25.4-34-27.3-30.5-64.5-46.2-124-45-10.3 1.3-20.699 2.699-31 4-29.699 7.5-58 23.1-74.6 44-49.8 56.5-35.6 155.399 25 196.1 59.7 44.8 147.4 55 158.6 96.9 10.9 51.3-37.699 67.899-86 62-35.6-7.4-55.399-25.5-76.8-58.4-39.399 22.8-39.399 22.8-79.899 46.1 9.6 21 19.699 30.5 35.8 48.7 76.2 77.3 266.899 73.5 301.1-43.5 1.399-4.001 10.6-30.801 3.199-72.101zm-394-317.6h-98.4c0 85-.399 169.4-.399 254.4 0 54.1 2.8 103.7-6 118.9-14.4 29.899-51.7 26.2-68.7 20.399-17.3-8.5-26.1-20.6-36.3-37.699-2.8-4.9-4.9-8.7-5.601-9-26.699 16.3-53.3 32.699-80 49 13.301 27.3 32.9 51 58 66.399 37.5 22.5 87.9 29.4 140.601 17.3 34.3-10 63.899-30.699 79.399-62.199 22.4-41.3 17.6-91.3 17.4-146.6.5-90.2 0-180.4 0-270.9z" fill="#FFFFFF"/></svg>
        </div>
      </Tecnologia>

      <Tecnologia titulo="CSS"> 
        <div class="svg3 mb-1">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 452 520">
            <path fill="#8B8C91" d="M41 460L0 0h451l-41 460-185 52"/>
            <path fill="#8B8C91" d="M226 472l149-41 35-394H226"/>
            <path fill="#ecedee" d="M226 208H94l5 57h127zm0-114H84l5 56h137zm0 261l-124-33 7 60 117 32z"/>
            <path fill="#fff" d="M226 265h69l-7 73-62 17v59l115-32 26-288H226v56h80l-6 58h-74z"/>
          </svg>
        </div>
      </Tecnologia>

      <Tecnologia titulo="Astro"> 
        <div >
          <svg viewBox="0 0 256 366" xmlns="http://www.w3.org/2000/svg" width="32" height="34" preserveAspectRatio="xMidYMid"><path fill="#fff" d="M182.022 9.147c2.982 3.702 4.502 8.697 7.543 18.687L256 246.074a276.467 276.467 0 0 0-79.426-26.891L133.318 73.008a5.63 5.63 0 0 0-10.802.017L79.784 219.11A276.453 276.453 0 0 0 0 246.04L66.76 27.783c3.051-9.972 4.577-14.959 7.559-18.654a24.541 24.541 0 0 1 9.946-7.358C88.67 0 93.885 0 104.314 0h47.683c10.443 0 15.664 0 20.074 1.774a24.545 24.545 0 0 1 9.95 7.373Z"/><path fill="#8B8C91" d="M189.972 256.46c-10.952 9.364-32.812 15.751-57.992 15.751-30.904 0-56.807-9.621-63.68-22.56-2.458 7.415-3.009 15.903-3.009 21.324 0 0-1.619 26.623 16.898 45.14 0-9.615 7.795-17.41 17.41-17.41 16.48 0 16.46 14.378 16.446 26.043l-.001 1.041c0 17.705 10.82 32.883 26.21 39.28a35.685 35.685 0 0 1-3.588-15.647c0-16.886 9.913-23.173 21.435-30.48 9.167-5.814 19.353-12.274 26.372-25.232a47.588 47.588 0 0 0 5.742-22.735c0-5.06-.786-9.938-2.243-14.516Z"/></svg>
        </div>
      </Tecnologia>

      <Tecnologia titulo="Tailwind"> 
        <div class="svg3">
          <svg
          viewBox="0 0 256 154"
          width="40"
          height="40"
          xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid"
          >
          <defs
            ><linearGradient x1="-2.778%" y1="32%" x2="100%" y2="67.556%" id="gradient">
              <stop stop-color="#2298BD" offset="0%"></stop>
              <stop stop-color="#0ED7B5" offset="100%"></stop>
            </linearGradient></defs>
          <path
            d="M128 0C93.867 0 72.533 17.067 64 51.2 76.8 34.133 91.733 27.733 108.8 32c9.737 2.434 16.697 9.499 24.401 17.318C145.751 62.057 160.275 76.8 192 76.8c34.133 0 55.467-17.067 64-51.2-12.8 17.067-27.733 23.467-44.8 19.2-9.737-2.434-16.697-9.499-24.401-17.318C174.249 14.743 159.725 0 128 0ZM64 76.8C29.867 76.8 8.533 93.867 0 128c12.8-17.067 27.733-23.467 44.8-19.2 9.737 2.434 16.697 9.499 24.401 17.318C81.751 138.857 96.275 153.6 128 153.6c34.133 0 55.467-17.067 64-51.2-12.8 17.067-27.733 23.467-44.8 19.2-9.737-2.434-16.697-9.499-24.401-17.318C110.249 91.543 95.725 76.8 64 76.8Z"
            fill="#FFFFFF"></path></svg>
        
        </div>
      </Tecnologia>

      <Tecnologia titulo="Bootstrap"> 
        <div >
          <svg viewBox="0 0 256 204" xmlns="http://www.w3.org/2000/svg" width="36" height="36" preserveAspectRatio="xMidYMid"><path fill="#FFFFFF" d="M53.172 0C38.565 0 27.756 12.785 28.24 26.65c.465 13.32-.139 30.573-4.482 44.642C19.402 85.402 12.034 94.34 0 95.488v12.956c12.034 1.148 19.402 10.086 23.758 24.197 4.343 14.069 4.947 31.32 4.482 44.641-.484 13.863 10.325 26.65 24.934 26.65h149.673c14.608 0 25.414-12.785 24.93-26.65-.464-13.32.139-30.572 4.482-44.641 4.359-14.11 11.707-23.05 23.741-24.197V95.488c-12.034-1.148-19.382-10.086-23.74-24.196-4.344-14.067-4.947-31.321-4.483-44.642C228.261 12.787 217.455 0 202.847 0H53.17h.002ZM173.56 125.533c0 19.092-14.24 30.67-37.872 30.67h-40.23a4.339 4.339 0 0 1-4.338-4.339V52.068a4.339 4.339 0 0 1 4.339-4.34h39.999c19.705 0 32.637 10.675 32.637 27.063 0 11.503-8.7 21.801-19.783 23.604v.601c15.089 1.655 25.248 12.104 25.248 26.537Zm-42.26-64.05h-22.937v32.4h19.32c14.934 0 23.17-6.014 23.17-16.764 0-10.073-7.082-15.636-19.552-15.636Zm-22.937 45.256v35.705h23.782c15.548 0 23.786-6.239 23.786-17.965 0-11.728-8.467-17.742-24.786-17.742h-22.782v.002Z"/></svg>
        </div>
      </Tecnologia>

      <Tecnologia titulo="Node.js"> 
        <div class="mt-[-5px]">
          <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" style="fill: #FFFFFF"><path d="M12 21.985c-.275 0-.532-.074-.772-.202l-2.439-1.448c-.365-.203-.182-.277-.072-.314.496-.165.588-.201 1.101-.493.056-.037.129-.02.185.017l1.87 1.12c.074.036.166.036.221 0l7.319-4.237c.074-.036.11-.11.11-.202V7.768c0-.091-.036-.165-.11-.201l-7.319-4.219c-.073-.037-.165-.037-.221 0L4.552 7.566c-.073.036-.11.129-.11.201v8.457c0 .073.037.166.11.202l2 1.157c1.082.548 1.762-.095 1.762-.735V8.502c0-.11.091-.221.22-.221h.936c.108 0 .22.092.22.221v8.347c0 1.449-.788 2.294-2.164 2.294-.422 0-.752 0-1.688-.46l-1.925-1.099a1.55 1.55 0 0 1-.771-1.34V7.786c0-.55.293-1.064.771-1.339l7.316-4.237a1.637 1.637 0 0 1 1.544 0l7.317 4.237c.479.274.771.789.771 1.339v8.458c0 .549-.293 1.063-.771 1.34l-7.317 4.236c-.241.11-.516.165-.773.165zm2.256-5.816c-3.21 0-3.87-1.468-3.87-2.714 0-.11.092-.221.22-.221h.954c.11 0 .201.073.201.184.147.971.568 1.449 2.514 1.449 1.54 0 2.202-.35 2.202-1.175 0-.477-.185-.825-2.587-1.063-1.999-.2-3.246-.643-3.246-2.238 0-1.485 1.247-2.366 3.339-2.366 2.347 0 3.503.809 3.649 2.568a.297.297 0 0 1-.056.165c-.037.036-.091.073-.146.073h-.953a.212.212 0 0 1-.202-.164c-.221-1.012-.789-1.34-2.292-1.34-1.689 0-1.891.587-1.891 1.027 0 .531.237.696 2.514.99 2.256.293 3.32.715 3.32 2.294-.02 1.615-1.339 2.531-3.67 2.531z"></path></svg>
        </div>
      </Tecnologia>
    </div>
  </article>
  
  <article class="bg-terciary-color border border-[#ffffff11] rounded-[20px] flex flex-col items-center pb-9">
    <h4 class="text-base font-semibold italic mb-5 pt-9">HERRAMIENTAS</h4>
    <div class="w-full flex flex-row flex-wrap gap-4 justify-center px-2 lg:px-7">
      <Tecnologia titulo="VS Code"> 
        <div >
          <svg viewBox="0 0 256 254" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="36" preserveAspectRatio="xMidYMid"><defs><linearGradient id="c" x1="50%" x2="50%" y1="0%" y2="100%"><stop offset="0%" stop-color="#FFF"/><stop offset="100%" stop-color="#FFF" stop-opacity="0"/></linearGradient><path id="a" d="M180.828 252.605a15.872 15.872 0 0 0 12.65-.486l52.501-25.262a15.94 15.94 0 0 0 9.025-14.364V41.197a15.939 15.939 0 0 0-9.025-14.363l-52.5-25.263a15.877 15.877 0 0 0-18.115 3.084L74.857 96.35l-43.78-33.232a10.614 10.614 0 0 0-13.56.603L3.476 76.494c-4.63 4.211-4.635 11.495-.012 15.713l37.967 34.638-37.967 34.637c-4.623 4.219-4.618 11.502.012 15.714l14.041 12.772a10.614 10.614 0 0 0 13.56.604l43.78-33.233 100.507 91.695a15.853 15.853 0 0 0 5.464 3.571Zm10.464-183.649-76.262 57.889 76.262 57.888V68.956Z"/></defs><mask id="b" fill="#fff"><use xlink:href="#a"/></mask><path fill="#8B8C91" d="M246.135 26.873 193.593 1.575a15.885 15.885 0 0 0-18.123 3.08L3.466 161.482c-4.626 4.219-4.62 11.502.012 15.714l14.05 12.772a10.625 10.625 0 0 0 13.569.604L238.229 33.436c6.949-5.271 16.93-.315 16.93 8.407v-.61a15.938 15.938 0 0 0-9.024-14.36Z" /><path fill="#FFFFFF" d="m246.135 226.816-52.542 25.298a15.887 15.887 0 0 1-18.123-3.08L3.466 92.207c-4.626-4.218-4.62-11.502.012-15.713l14.05-12.773a10.625 10.625 0 0 1 13.569-.603l207.132 157.135c6.949 5.271 16.93.315 16.93-8.408v.611a15.939 15.939 0 0 1-9.024 14.36Z" /><path fill="#FFFFFF" d="M193.428 252.134a15.892 15.892 0 0 1-18.125-3.083c5.881 5.88 15.938 1.715 15.938-6.603V11.273c0-8.318-10.057-12.483-15.938-6.602a15.892 15.892 0 0 1 18.125-3.084l52.533 25.263a15.937 15.937 0 0 1 9.03 14.363V212.51c0 6.125-3.51 11.709-9.03 14.363l-52.533 25.262Z" /><path fill="url(#c)" fill-opacity=".25" d="M180.828 252.605a15.874 15.874 0 0 0 12.65-.486l52.5-25.263a15.938 15.938 0 0 0 9.026-14.363V41.197a15.939 15.939 0 0 0-9.025-14.363L193.477 1.57a15.877 15.877 0 0 0-18.114 3.084L74.857 96.35l-43.78-33.232a10.614 10.614 0 0 0-13.56.603L3.476 76.494c-4.63 4.211-4.635 11.495-.012 15.713l37.967 34.638-37.967 34.637c-4.623 4.219-4.618 11.502.012 15.714l14.041 12.772a10.614 10.614 0 0 0 13.56.604l43.78-33.233 100.506 91.695a15.857 15.857 0 0 0 5.465 3.571Zm10.464-183.65-76.262 57.89 76.262 57.888V68.956Z" /></svg>


        </div>
      </Tecnologia>

      <Tecnologia titulo="Android St."> 
        <div >
          <svg xmlns="http://www.w3.org/2000/svg" width="42" height="32" preserveAspectRatio="xMidYMid" viewBox="0 0 256 150"><path fill="#8B8C91" d="M255.285 143.47c-.084-.524-.164-1.042-.251-1.56a128.119 128.119 0 0 0-12.794-38.288 128.778 128.778 0 0 0-23.45-31.86 129.166 129.166 0 0 0-22.713-18.005c.049-.08.09-.168.14-.25 2.582-4.461 5.172-8.917 7.755-13.38l7.576-13.068c1.818-3.126 3.632-6.26 5.438-9.386a11.776 11.776 0 0 0 .662-10.484 11.668 11.668 0 0 0-4.823-5.536 11.85 11.85 0 0 0-5.004-1.61 11.963 11.963 0 0 0-2.218.018 11.738 11.738 0 0 0-8.968 5.798c-1.814 3.127-3.628 6.26-5.438 9.386l-7.576 13.069c-2.583 4.462-5.173 8.918-7.755 13.38-.282.487-.567.973-.848 1.467-.392-.157-.78-.313-1.172-.462-14.24-5.43-29.688-8.4-45.836-8.4-.442 0-.879 0-1.324.006-14.357.143-28.152 2.64-41.022 7.12a119.434 119.434 0 0 0-4.42 1.642c-.262-.455-.532-.911-.79-1.367-2.583-4.462-5.173-8.918-7.755-13.38L65.123 15.25c-1.818-3.126-3.632-6.259-5.439-9.386A11.736 11.736 0 0 0 48.5.048 11.71 11.71 0 0 0 43.49 1.66a11.716 11.716 0 0 0-4.077 4.063c-.281.474-.532.967-.742 1.473a11.808 11.808 0 0 0-.365 8.188c.259.786.594 1.554 1.023 2.296a3973.32 3973.32 0 0 1 5.439 9.386c2.53 4.357 5.054 8.713 7.58 13.069 2.582 4.462 5.168 8.918 7.75 13.38.02.038.046.075.065.112A129.184 129.184 0 0 0 45.32 64.38a129.693 129.693 0 0 0-22.2 24.015 127.737 127.737 0 0 0-9.34 15.24 128.238 128.238 0 0 0-10.843 28.764 130.743 130.743 0 0 0-1.951 9.524c-.087.518-.167 1.042-.247 1.56A124.978 124.978 0 0 0 0 149.118h256c-.205-1.891-.449-3.77-.734-5.636l.019-.012Z"/><path fill="#FFFFFF" d="M194.59 113.712c5.122-3.41 5.867-11.3 1.661-17.62-4.203-6.323-11.763-8.682-16.883-5.273-5.122 3.41-5.868 11.3-1.662 17.621 4.203 6.322 11.764 8.682 16.883 5.272ZM78.518 108.462c4.206-6.321 3.46-14.21-1.662-17.62-5.123-3.41-12.68-1.05-16.886 5.27-4.203 6.323-3.458 14.212 1.662 17.622 5.122 3.41 12.683 1.05 16.886-5.272Z"/></svg>
        </div>     
      </Tecnologia>

      <Tecnologia titulo="Git"> 
        <div class="svg2 mb-1">
          <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" viewBox="0 0 256 256">
            <path d="M251.17 116.6 139.4 4.82a16.49 16.49 0 0 0-23.31 0l-23.21 23.2 29.44 29.45a19.57 19.57 0 0 1 24.8 24.96l28.37 28.38a19.61 19.61 0 1 1-11.75 11.06L137.28 95.4v69.64a19.62 19.62 0 1 1-16.13-.57V94.2a19.61 19.61 0 0 1-10.65-25.73L81.46 39.44 4.83 116.08a16.49 16.49 0 0 0 0 23.32L116.6 251.17a16.49 16.49 0 0 0 23.32 0l111.25-111.25a16.5 16.5 0 0 0 0-23.33" fill="#8B8C91"/>
          </svg>          
        </div>
      </Tecnologia>

      <Tecnologia titulo="GitHub"> 
        <div class="svg2">
          <svg 
              viewBox="0 0 256 250" 
              width="32" 
              height="32" 
              fill="currentColor" 
              xmlns="http://www.w3.org/2000/svg" 
              preserveAspectRatio="xMidYMid"
          >
          <path 
              d="M128.001 0C57.317 0 0 57.307 0 128.001c0 56.554 36.676 104.535 87.535 121.46 6.397 1.185 8.746-2.777 8.746-6.158 0-3.052-.12-13.135-.174-23.83-35.61 7.742-43.124-15.103-43.124-15.103-5.823-14.795-14.213-18.73-14.213-18.73-11.613-7.944.876-7.78.876-7.78 12.853.902 19.621 13.19 19.621 13.19 11.417 19.568 29.945 13.911 37.249 10.64 1.149-8.272 4.466-13.92 8.127-17.116-28.431-3.236-58.318-14.212-58.318-63.258 0-13.975 5-25.394 13.188-34.358-1.329-3.224-5.71-16.242 1.24-33.874 0 0 10.749-3.44 35.21 13.121 10.21-2.836 21.16-4.258 32.038-4.307 10.878.049 21.837 1.47 32.066 4.307 24.431-16.56 35.165-13.12 35.165-13.12 6.967 17.63 2.584 30.65 1.255 33.873 8.207 8.964 13.173 20.383 13.173 34.358 0 49.163-29.944 59.988-58.447 63.157 4.591 3.972 8.682 11.762 8.682 23.704 0 17.126-.148 30.91-.148 35.126 0 3.407 2.304 7.398 8.792 6.14C219.37 232.5 256 184.537 256 128.002 256 57.307 198.691 0 128.001 0Zm-80.06 182.34c-.282.636-1.283.827-2.194.39-.929-.417-1.45-1.284-1.15-1.922.276-.655 1.279-.838 2.205-.399.93.418 1.46 1.293 1.139 1.931Zm6.296 5.618c-.61.566-1.804.303-2.614-.591-.837-.892-.994-2.086-.375-2.66.63-.566 1.787-.301 2.626.591.838.903 1 2.088.363 2.66Zm4.32 7.188c-.785.545-2.067.034-2.86-1.104-.784-1.138-.784-2.503.017-3.05.795-.547 2.058-.055 2.861 1.075.782 1.157.782 2.522-.019 3.08Zm7.304 8.325c-.701.774-2.196.566-3.29-.49-1.119-1.032-1.43-2.496-.726-3.27.71-.776 2.213-.558 3.315.49 1.11 1.03 1.45 2.505.701 3.27Zm9.442 2.81c-.31 1.003-1.75 1.459-3.199 1.033-1.448-.439-2.395-1.613-2.103-2.626.301-1.01 1.747-1.484 3.207-1.028 1.446.436 2.396 1.602 2.095 2.622Zm10.744 1.193c.036 1.055-1.193 1.93-2.715 1.95-1.53.034-2.769-.82-2.786-1.86 0-1.065 1.202-1.932 2.733-1.958 1.522-.03 2.768.818 2.768 1.868Zm10.555-.405c.182 1.03-.875 2.088-2.387 2.37-1.485.271-2.861-.365-3.05-1.386-.184-1.056.893-2.114 2.376-2.387 1.514-.263 2.868.356 3.061 1.403Z" />
          </svg>


        </div>
      </Tecnologia>

      <Tecnologia titulo="Bash"> 
        <div class="svg2">
          <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 32 32"><path fill="#fff" fill-rule="evenodd" d="M28.057 6.53 17.952.532a3.8 3.8 0 0 0-3.88 0L3.965 6.53A4.03 4.03 0 0 0 2 10.002v11.996a4.03 4.03 0 0 0 1.948 3.472l10.105 5.998a3.8 3.8 0 0 0 3.88 0L28.04 25.47a4.03 4.03 0 0 0 1.948-3.472V10.002a4.03 4.03 0 0 0-1.93-3.472zM20.23 25.262v.86a.318.318 0 0 1-.148.265l-.512.293c-.08.042-.148 0-.148-.113v-.847a1.66 1.66 0 0 1-1.164.113c-.062-.042-.086-.122-.056-.2l.183-.78a.322.322 0 0 1 .102-.17.18.18 0 0 1 .05-.035.11.11 0 0 1 .08 0 1.41 1.41 0 0 0 1.059-.134 1.41 1.41 0 0 0 .79-1.21c0-.438-.24-.62-.82-.625-.734 0-1.4-.14-1.43-1.224a3.137 3.137 0 0 1 1.186-2.4v-.872a.34.34 0 0 1 .148-.268l.494-.314c.08-.042.148 0 .148.116v.872a1.61 1.61 0 0 1 .967-.116c.07.04.098.128.064.2l-.173.773a.325.325 0 0 1-.138.195c-.02.012-.05.008-.074 0a1.28 1.28 0 0 0-.931.152 1.17 1.17 0 0 0-.706 1.037c0 .395.208.515.907.53.935 0 1.337.423 1.348 1.362a3.346 3.346 0 0 1-1.228 2.53zm5.293-1.45a.201.201 0 0 1-.078.194L22.9 25.558c-.024.02-.06.023-.087.007s-.04-.05-.033-.08v-.66a.184.184 0 0 1 .116-.162l2.516-1.507c.024-.02.06-.023.087-.007s.04.05.033.08v.582zM27.288 9.06l-9.562 5.906c-1.193.706-2.07 1.478-2.07 2.914v11.778c0 .86.353 1.4.882 1.58a3.14 3.14 0 0 1-.53.053 3.13 3.13 0 0 1-1.595-.441L4.308 24.853A3.3 3.3 0 0 1 2.706 22V10.002a3.304 3.304 0 0 1 1.602-2.858l10.105-5.998c.98-.58 2.196-.58 3.176 0l10.105 5.998c.833.504 1.4 1.35 1.552 2.3-.328-.713-1.083-.9-1.962-.395h.003z"/></svg>
        </div>
      </Tecnologia>

      <Tecnologia titulo="Figma"> 
        <svg width="30" height="35" viewBox="0 0 54 80" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_912_3)">
          <path d="M13.3333 80.0002C20.6933 80.0002 26.6667 74.0268 26.6667 66.6668V53.3335H13.3333C5.97333 53.3335 0 59.3068 0 66.6668C0 74.0268 5.97333 80.0002 13.3333 80.0002Z" fill="#FFFFFF"/>
          <path d="M0 39.9998C0 32.6398 5.97333 26.6665 13.3333 26.6665H26.6667V53.3332H13.3333C5.97333 53.3332 0 47.3598 0 39.9998Z" fill="#8B8C91"/>
          <path d="M0 13.3333C0 5.97333 5.97333 0 13.3333 0H26.6667V26.6667H13.3333C5.97333 26.6667 0 20.6933 0 13.3333Z" fill="#FFFFFF"/>
          <path d="M26.6667 0H40.0001C47.3601 0 53.3334 5.97333 53.3334 13.3333C53.3334 20.6933 47.3601 26.6667 40.0001 26.6667H26.6667V0Z" fill="#8B8C91"/>
          <path d="M53.3334 39.9998C53.3334 47.3598 47.3601 53.3332 40.0001 53.3332C32.6401 53.3332 26.6667 47.3598 26.6667 39.9998C26.6667 32.6398 32.6401 26.6665 40.0001 26.6665C47.3601 26.6665 53.3334 32.6398 53.3334 39.9998Z" fill="#8B8C91"/>
          </g>
          <defs>
          <clipPath id="clip0_912_3">
          <rect width="53.3333" height="80" fill="white"/>
          </clipPath>
          </defs>
          </svg>
      </Tecnologia>

      <Tecnologia titulo="Slack"> 
        <div class="svg2">
          <svg
            enable-background="new 0 0 2447.6 2452.5"
            viewBox="0 0 2447.6 2452.5"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-rule="evenodd" fill-rule="evenodd">
              <path
                d="m897.4 0c-135.3.1-244.8 109.9-244.7 245.2-.1 135.3 109.5 245.1 244.8 245.2h244.8v-245.1c.1-135.3-109.5-245.1-244.9-245.3.1 0 .1 0 0 0m0 654h-652.6c-135.3.1-244.9 109.9-244.8 245.2-.2 135.3 109.4 245.1 244.7 245.3h652.7c135.3-.1 244.9-109.9 244.8-245.2.1-135.4-109.5-245.2-244.8-245.3z"
                fill="#8B8C91"
              />
              <path
                d="m2447.6 899.2c.1-135.3-109.5-245.1-244.8-245.2-135.3.1-244.9 109.9-244.8 245.2v245.3h244.8c135.3-.1 244.9-109.9 244.8-245.3zm-652.7 0v-654c.1-135.2-109.4-245-244.7-245.2-135.3.1-244.9 109.9-244.8 245.2v654c-.2 135.3 109.4 245.1 244.7 245.3 135.3-.1 244.9-109.9 244.8-245.3z"
                fill="#FFFFFF"
              />
              <path
                d="m1550.1 2452.5c135.3-.1 244.9-109.9 244.8-245.2.1-135.3-109.5-245.1-244.8-245.2h-244.8v245.2c-.1 135.2 109.5 245 244.8 245.2zm0-654.1h652.7c135.3-.1 244.9-109.9 244.8-245.2.2-135.3-109.4-245.1-244.7-245.3h-652.7c-135.3.1-244.9 109.9-244.8 245.2-.1 135.4 109.4 245.2 244.7 245.3z"
                fill="#8B8C91"
              />
              <path
                d="m0 1553.2c-.1 135.3 109.5 245.1 244.8 245.2 135.3-.1 244.9-109.9 244.8-245.2v-245.2h-244.8c-135.3.1-244.9 109.9-244.8 245.2zm652.7 0v654c-.2 135.3 109.4 245.1 244.7 245.3 135.3-.1 244.9-109.9 244.8-245.2v-653.9c.2-135.3-109.4-245.1-244.7-245.3-135.4 0-244.9 109.8-244.8 245.1 0 0 0 .1 0 0"
                fill="#FFFFFF"
              />
            </g>
          </svg>
        </div>
      </Tecnologia>
    </div>
  </article>
</div>

<style>

  .svg1 {
    width: 36px;
    height: 39px;
  }
  .svg2 {
    width: 32px;
    height: 34px;
  }

  .svg3 {
    width: 30px;
  }

</style>