<article class="bg-terciary-color rounded-[20px] flex flex-col items-center pb-9">
  <h4 class="text-base font-semibold italic mb-5 pt-9">BACKEND</h4>
  <div class="w-full flex flex-row flex-wrap gap-4 justify-center px-2">
    <img src="https://github.com/Juanqx/juanqx-portafolio/blob/main/public/techs/node.png?raw=true" alt="nodejs">
    <img src="https://github.com/Juanqx/juanqx-portafolio/blob/main/public/techs/express.png?raw=true" alt="expressjs">
    <img src="https://github.com/Juanqx/juanqx-portafolio/blob/main/public/techs/nestjs.png?raw=true" alt="nestjs">
    <img src="https://github.com/Juanqx/juanqx-portafolio/blob/main/public/techs/java.png?raw=true" alt="java">
    <img src="https://github.com/Juanqx/juanqx-portafolio/blob/main/public/techs/spring.png?raw=true" alt="spring">
    <img src="https://github.com/Juanqx/juanqx-portafolio/blob/main/public/techs/mys.png?raw=true" alt="mysql">
    <img src="https://github.com/Juanqx/juanqx-portafolio/blob/main/public/techs/mongo.png?raw=true" alt="mongodb">
  </div>
</article>

<div class="flex flex-col gap-3 md:flex-row">
  <article class="bg-terciary-color rounded-[20px] flex flex-col items-center pb-9">
    <h4 class="text-base font-semibold italic mb-5 pt-9">FRONTEND</h4>
    <div class="w-full flex flex-row flex-wrap gap-4 justify-center px-2 lg:px-7">
      <img src="https://github.com/Juanqx/juanqx-portafolio/blob/main/public/techs/html.png?raw=true" alt="html">
      <img src="https://github.com/Juanqx/juanqx-portafolio/blob/main/public/techs/js.png?raw=true" alt="javascript">
      <img src="https://github.com/Juanqx/juanqx-portafolio/blob/main/public/techs/css.png?raw=true" alt="css">
      <img src="https://github.com/Juanqx/juanqx-portafolio/blob/main/public/techs/astro.png?raw=true" alt="astro">
      <img src="https://github.com/Juanqx/juanqx-portafolio/blob/main/public/techs/tailw.png?raw=true" alt="tailwind">
      <img src="https://github.com/Juanqx/juanqx-portafolio/blob/main/public/techs/angular.png?raw=true" alt="angular">
    </div>
  </article>
  
  <article class="bg-terciary-color rounded-[20px] flex flex-col items-center pb-9">
    <h4 class="text-base font-semibold italic mb-5 pt-9">HERRAMIENTAS</h4>
    <div class="w-full flex flex-row flex-wrap gap-4 justify-center px-2 lg:px-7">
      <img src="https://github.com/Juanqx/juanqx-portafolio/blob/main/public/techs/vscode.png?raw=true" alt="vscode">
      <img src="https://github.com/Juanqx/juanqx-portafolio/blob/main/public/techs/intellij.png?raw=true" alt="IntellijIDEA">
      <img src="https://github.com/Juanqx/juanqx-portafolio/blob/main/public/techs/git.png?raw=true" alt="git">
      <img src="https://github.com/Juanqx/juanqx-portafolio/blob/main/public/techs/github.png?raw=true" alt="github">
      <img src="https://github.com/Juanqx/juanqx-portafolio/blob/main/public/techs/linux.png?raw=true" alt="linux">
      <img src="https://github.com/Juanqx/juanqx-portafolio/blob/main/public/techs/figma.png?raw=true" alt="figma">
    </div>
  </article>
</div>