<article class="bg-terciary-color rounded-[20px] flex flex-col items-center pb-9">
  <h4 class="text-base font-semibold italic mb-5 pt-9">BACKEND</h4>
  <div class="w-full flex flex-row flex-wrap gap-4 justify-center px-2">
    <img src="../../public/techs/kotlin.png" alt="kotlin">
    <img src="../../public/techs/android.png" alt="android">
    <img src="../../public/techs/jetpack.png" alt="jetpack compose">
    <img src="../../public/techs/firebase.png" alt="firebase">
    <img src="../../public/techs/flutter.png" alt="flutter">
    <img src="../../public/techs/sqlite.png" alt="sqlite">
    <img src="../../public/techs/java.png" alt="java">
  </div>
</article>

<div class="flex flex-col gap-3 md:flex-row">
  <article class="bg-terciary-color rounded-[20px] flex flex-col items-center pb-9">
    <h4 class="text-base font-semibold italic mb-5 pt-9">FRONTEND</h4>
    <div class="w-full flex flex-row flex-wrap gap-4 justify-center px-2 lg:px-7">
      <img src="../../public/techs/html.png" alt="html">
      <img src="../../public/techs/js.png" alt="javascript">
      <img src="../../public/techs/mys.png" alt="mysql">
      <img src="../../public/techs/astro.png" alt="astro">
      <img src="../../public/techs/tailw.png" alt="tailwind">
      <img src="../../public/techs/node.png" alt="nodejs">
    </div>
  </article>
  
  <article class="bg-terciary-color rounded-[20px] flex flex-col items-center pb-9">
    <h4 class="text-base font-semibold italic mb-5 pt-9">HERRAMIENTAS</h4>
    <div class="w-full flex flex-row flex-wrap gap-4 justify-center px-2 lg:px-7">
      <img src="../../public/techs/vscode.png" alt="vscode">
      <img src="../../public/techs/androidstudio.png" alt="android studio">
      <img src="../../public/techs/git.png" alt="git">
      <img src="../../public/techs/github.png" alt="github">
      <img src="../../public/techs/linux.png" alt="linux">
      <img src="../../public/techs/figma.png" alt="figma">
    </div>
  </article>
</div>