---
interface Props {
  titulo: string
}
const { titulo } = Astro.props;
---

<div class="w-[100px] h-[91px] rounded-[10px] bg-cuartiary-color flex flex-col items-center justify-between py-4">
  <slot />
  <p class="font-medium text-sm text-white text-center">{titulo}</p>
</div>