---
import '@fontsource-variable/montserrat';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
}
const { title } = Astro.props;
import { ViewTransitions } from 'astro:transitions';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Juan Antonio Cu, Ingeniero informático y desarrollador de software especializado en el desarrollo de aplicaciones móviles." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="https://i.imgur.com/lHcuZ0q.png" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:type" content="website">
		<title>{title}</title>
		<meta property="og:title" content={title}>
		<meta property="og:description" content="Juan Antonio Cu, Ingeniero informático y desarrollador de software especializado en el desarrollo de aplicaciones móviles.">
		<meta property="og:image" content="https://i.imgur.com/aOvBJkZ.png">
		<meta property="og:image:width" content="1200">
		<meta property="og:image:height" content="630">
		<ViewTransitions />
	</head>
	<body class="p-4 pt-7 max-w-[1093px] mx-auto">
		
		<!-- contenido de la página -->
		<slot/>
		<!-- Footer -->
		<Footer/>
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light dark;
		scroll-behavior: smooth;
		--primary-color: #09090B;
		--secondary-color: #5BADFF;
		--terciary-color: #131316;
		--cuartiary-color: #1A1A1E;
		--rojo-color: #EB0400;
		--text-color-primary: #FFFFFF;
		--text-color-secondary: #8B8C91;
		--text-color-terciary: #10171D; 
	}
	html {
		font-family: "montserrat", system-ui, sans-serif;
		background: var(--primary-color);
	}

	::-webkit-scrollbar {
    display: none;
	}
</style>
