---
import '@fontsource-variable/montserrat';

interface Props {
	title: string;
}
const { title } = Astro.props;
import { ViewTransitions } from 'astro:transitions';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="https://github.com/Juanqx/juanqx-portafolio/blob/main/public/imgLogo.png?raw=true" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="p-4 max-w-[1250px] mx-auto pt-0">
		<header class="flex flex-col items-center max-w-[1250px] mx-auto" id="home">
			<!-- img banner -->
			<img src="https://github.com/Juanqx/juanqx-portafolio/blob/main/public/imgHeader.png?raw=true" alt="banner" class="h-24 pt-4 sm:w-screen lg:h-36 xl:h-[169px]">
			<!-- contenedor de img y textos -->
			<div class="flex flex-col items-center mt-[-30px] w-full sm:flex-row sm:justify-between sm:gap-5 sm:pl-4 md:pl-5 lg:mt-[-50px]">
				<div class="flex flex-col sm:flex-row sm:gap-5">
					<div class="flex flex-col items-center xl:mt-[2px]">
						<div class="border-[3px] rounded-full border-secondary-color p-1 w-max lg:w-[175px] lg:h-[175px] ">
							<img src="https://github.com/Juanqx/juanqx-portafolio/blob/main/public/fotomia.png?raw=true" alt="juanantoniocu" class="w-[85px] m-auto md:w-[100px] lg:w-[160px] lg:h-[160px] ">
						</div>
						<h4 class="w-12 h-6 font-bold text-sm bg-rojo-color rounded-[20px] flex justify-center items-center mt-[-20px] lg:w-[68px] lg:h-[28px] lg:text-base">Dev</h4>
					</div>
					<div class="mt-4 flex flex-col items-center gap-[6px] sm:items-start sm:pt-10 md:pt-11 sm:mt-0 lg:pt-[70px] lg:pl-3 xl:pl-5">
						<!-- nombre y cargo -->
						<h1 class="flex flex-row items-center gap-3 text-2xl font-semibold text-text-color-primary w-max md:text-[28px] lg:text-[30px] lg:gap-4 xl:text-[34px]">Juan Antonio Cu <img src="https://github.com/Juanqx/juanqx-portafolio/blob/main/public/verificado.png?raw=true" alt="verificado" class="w-[16px] h-[16px] lg:w-5 lg:h-5"></h1>
						<h2 class="font-medium text-sm text-text-color-secondary md:text-base xl:text-lg">@Desarrollador_FullStack</h2>
						<!-- div de las redes -->
						<div class="flex flex-row gap-3 mt-2 lg:mt-4">
							<a href="https://github.com/Juanqx" class="font-semibold text-sm px-3 py-1 rounded-3xl flex flex-row gap-2 items-center bg-terciary-color" target="_blank">Github</a>
							<a href="https://www.linkedin.com/in/juanqx" class="font-semibold text-sm px-3 py-1 rounded-3xl flex flex-row gap-2 items-center bg-terciary-color" target="_blank">Linkedin</a>
						</div>
					</div>
				</div>
				<!-- btns de cv y contacto -->
				<div class="flex flex-col sm:flex-row w-[90%] gap-3 mt-7 sm:w-max sm:mt-0 sm:pt-0 md:pt-0 md:pr-6 lg:pr-16 lg:mt-0 lg:pt-2 xl:pt-4 xl:justify-end">
					<a href="https://github.com/Juanqx/juanqx-portafolio/blob/main/public/CV_JuanAntonioCuCauich_DesarrolladorFullstack.pdf?raw=true" class="font-bold text-sm h-10 sm:mt-0 sm:w-[106px] sm:h-9 bg-secondary-color text-text-color-terciary rounded-[20px] flex justify-center items-center lg:text-base lg:w-32 lg:h-11" target="_blank" data-title="CV-FullStack">Curriculum</a>
					<a href="mailto:Antony556_04@outlook.com" class="font-bold text-sm h-10 sm:w-[106px] sm:h-9 border-[1px] border-white rounded-[20px] flex justify-center items-center lg:text-base lg:w-32 lg:h-11" data-title="Antony556_04@outlook.com">Contacto</a>
				</div>
			</div>
			<!-- <nav class="mt-8 flex flex-row justify-center gap-[13px] w-screen px-4 text-sm font-semibold max-w-[1250px] sm:text-base sm:gap-11 sm:justify-start sm:pl-9 sm:mt-11 md:pl-11 lg:pl-12 xl:pl-9">
				<a href="#home">Principal <slot name="principal"/></a>
				<a href="#experiencia">Experiencia <slot name="experiencia" /> </a>
				<a href="#proyectos">Proyectos <slot name="proyectos" /></a>
				<a href="#tecnologias">Tecnologías <slot name="tecnologias" /></a>
			</nav> -->
		</header>
		<nav class="mt-5 py-3 flex flex-row gap-[13px] justify-center w-full text-sm font-semibold max-w-[950px] bg-primary-color border-b border-[#58585859] sm:text-base sm:gap-11 sm:justify-start sm:mt-11 sm:pl-4 md:pl-6 lg:pl-7 xl:pl-4">
			<a href="#home" class="hover:text-secondary-color">Principal <slot name="principal"/></a>
			<a href="#experiencia" class="hover:text-secondary-color">Experiencia <slot name="experiencia" /> </a>
			<a href="#proyectos" class="hover:text-secondary-color">Proyectos <slot name="proyectos" /></a>
			<a href="#tecnologias" class="hover:text-secondary-color">Tecnologías <slot name="tecnologias" /></a>
		</nav>
		<!-- contenido de la página -->
		<slot name="main" />
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light dark;
		scroll-behavior: smooth;
		--primary-color: #10171D;
		--secondary-color: #21C195;
		--terciary-color: #1A2127;
		--cuartiary-color: #1D252C;
		--rojo-color: #EB0400;
		--text-color-primary: #FFFFFF;
		--text-color-secondary: #8B8C91;
		--text-color-terciary: #10171D; 
	}
	html {
		font-family: "montserrat", system-ui, sans-serif;
		background: var(--primary-color);
	}

	nav {
		position: -webkit-sticky;
		position: sticky;
		top: 0;
	}

	::-webkit-scrollbar {
    display: none;
	}

	[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
	}
	[data-title]:after {
			content: attr(data-title);
			background-color: rgb(77, 77, 77);
			color: #fff;
			font-size: 14px;
			font-family: "montserrat", system-ui, sans-serif;
			position: absolute;
			padding: 7px 20px;
			bottom: -3.5em;
			/* left: 10%; */
			white-space: nowrap;
			opacity: 0;
			z-index: 99999;
			visibility: hidden;
			border-radius: 5px;
			
	}
	[data-title] {
			position: relative;
	}
</style>